@import '../../global';
@import '../../color';

$vertical-margin: 36px;

.header {
  display: flex;

  h1 {
    flex: 2;
    margin: $vertical-margin 0;
  }
  nav {
    flex: 1;
    display: flex;
    align-items: center;

    > ul {
      padding: 0;

      > li {
        display: inline;

        > a {
          padding: 0 10px;
        }
      }
    }
  }
}
