<section class='link'>
  <ul class='link-with-icon'>
    <li>
      <twitter-icon/><a href='https://twitter.com/subroh_0508' target='_blank'>Twitter</a>
      <ul>
        <li>ネット上のメイン住居</li>
        <li>アイドルの話: 80% / 技術ネタ: 20%</li>
      </ul>
    </li>
    <li>
      <mastodon-icon/><a href='https://imastodon.net/@subroh_0508' target='_blank'>iM@STODON</a>
      <ul>
        <li>ライブ後やコミュ読んだ後等、心が限界になった時に現れる場所</li>
        <li>アイドルの話: 99.99%</li>
      </ul>
    </li>
    <li>
      <github-icon/><a href='https://github.com/subroh0508' target='_blank'>Github</a>
      <ul>
        <li>唯一エンジニアっぽいページ</li>
        <li>成果物は大体Kotlin</li>
      </ul>
    </li>
  </ul>
</section>
