@import '../../color';

.articles {
  .display-title {
    margin: 0;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
  a {
    color: $text;
  }
  .summary {
    margin: 0 0 48px;
  }
  .tags-bar {
    margin: 0 0 12px;
  }
}
