.links {
  .svg-icon {
    width: 18px;
    height: 18px;
    padding-right: 4px;
  }
  ul.link-with-icon {
    list-style: none;
    padding: 0;
  }
  li {
    > svg {
      vertical-align: middle;
    }
  }
}
