<section class='about'>
  <h1>このサイトについて</h1>
  <p>秋葉原に生息するソフトウェアエンジニア・にしこりさぶろ〜が日々の業務 + 趣味の活動で得た各種IOを書き留めるブログです。技術、およびイベントの参加ログや登壇の振り返り等がメインコンテンツになります。完全に趣味に振り切った話も時々書くかも？</p>
  <h2>筆者について</h2>
  <hr/>
  <p>伊豆大島出身のAndroidエンジニアです。Kotlinと次元の向こうのアイドルを愛でるのが日課。DDDやClean Architecture、またそれらをどのように実装に落とし込むかに興味があります。</p>
  <h3>スキル</h3>
  <table>
    <thead>
      <tr>
        <th>言語</th>
        <th>経験年数</th>
        <th>備考</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Kotlin</td>
        <td>2016.02-</td>
        <td>
          v1.0が出る直前に業務の現場で触れたのが始まり。<br/>
          それ以来、Androidアプリの開発でずっと使い続けています。<br/>
          趣味ではServer Side Kotlin、Kotlin MPPでアプリ製作を継続中。
        </td>
      </tr>
      <tr>
        <td>Ruby</td>
        <td>2016.06-</td>
        <td>
          業務でRuby on Railsを使い、タスクをこなしています。<br/>
          大規模な機能追加・新規サービスの立ち上げ・DDD + Clean Architectureに沿ったリファクタの経験があります。
        </td>
      </tr>
      <tr>
        <td>Javascript<br/>(ES6)</td>
        <td>2016.06-</td>
        <td>
          業務でReactとReduxを使い、タスクをこなしています。<br/>
          大規模な機能追加・新規サービスの立ち上げの経験があります。<br/>
          因みに、このブログはVue.jsで実装しています。
        </td>
      </tr>
      <tr>
        <td>Java</td>
        <td>2013.09-</td>
        <td>
          学生時代の講義で学習。<br/>
          高専5年時の高専プロコンでのアプリ開発でガッツリ触りました。<br/>
          現在でも、レガシーアプリの改修の際に使います。
        </td>
      </tr>
    </tbody>
  </table>
  <h3>経歴</h3>
  <ul>
    <li>2016.04 株式会社BearTail入社、現職</li>
    <li>2016.03 東京高専情報工学科卒業</li>
    <li>2015.10 全国高専プログラミングコンテンスト自由部門 優秀賞受賞</li>
    <li>2011.04 東京高専情報工学科入学</li>
  </ul>
  <h3>登壇</h3>
  <ul>
    <li>
      2019.08 Kotlin Fest 2019<br/>
      <a href='https://speakerdeck.com/subroh0508/jsdezuo-tutagui-ji' target='_blank'>
        「フロントエンドもKotlinで書きたい！ -WebページをKotlin/JSで作った軌跡-」
      </a>
    </li>
    <li>
      2019.07 IM@S Engineer Talks 2019<br/>
      <a href='https://youtu.be/8oB-JudUejE?t=6375' target='_blank'>
        「小鳥さんとKotlinを勉強できるサイトを100%Kotlinで作る」
      </a>
    </li>
    <li> 
        2019.04 Kotlin愛好会 vol.10<br>
        <a href='https://speakerdeck.com/subroh0508/kotlindekueriyan-yu-falsekuraiantowozuo-tutahua' target='_blank'>
          「Kotlinでクエリ言語のクライアントを作った話」
        </a>
    </li>
    <li> 
        2019.04 アイマスハッカソン2019 in 名古屋<br>
        <a href='https://speakerdeck.com/subroh0508/otonashi-meets-im-at-sparql' target='_blank'>
          「Otonashi meets im@sparql」
        </a>
    </li>
    <li>
      2019.02 DroidKaigi 2019<br>
      <a href='https://droidkaigi.jp/2019/timetable/70535/' target='_blank'>
        「Spek2+MockK+JaCoCoでイケてるUnit Test環境を手に入れろ！」
      </a>
    </li> 
    <li>
      2018.07 高専カンファレンス in 東京2018<br>
      <a href='https://www.slideshare.net/subroh_0508/flutter-105984178' target='_blank'>
        「Flutterで生み出せ圧倒的成果💪 -クロスプラットフォーム開発の未来-」
      </a>  
    </li>
  </ul>
</section>
