$title: #303e45;
$subtitle: #7d97a5;
$text: #3a4b53;

$light-text: #dfe5e8;

$background: ghostwhite;
$code-background: #282b2e;
$inline-code-background: whitesmoke;

$horizontal-rule: gainsboro;

$table-head: lightgray;
$table-body-line: thistle;

$inline-code-border: lightgray;

$link-text: royalblue;
$inline-code-text: darkred;
