@import './color';
@import './breakpoints';

html {
  font-family: 'Nunito Sans', 'M PLUS 1p', 'sans-serif';
}

body {
  background-color: $background;
  font-size: 18px;
  line-height: 1.85;
  color: $text;
  margin: 0;
}
section {
  max-width: 800px;
  margin: 0 auto 48px;
  padding: 0 20px;

  @media screen and (min-width: $breakpoint-md) {
    padding: 0;
  }
}
h1, h2 {
  margin: 48px 0 0 0;
  color: $title;
}
h3, h4, h5, h6 {
  margin: 24px 0 0 0;
  color: $title;
}
hr {
  color: $horizontal-rule;
}
table {
  border-spacing: 0;
}
thead {
  background-color: $table-head;
}
td, th {
  padding: 12px;
}
tbody {
  td {
    position: relative;

    &:after {
      content: '';
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      border-bottom: 1px solid $table-body-line;
    }
  }
}
a {
  text-decoration: underline;
  color: $link-text;
  cursor: pointer;

  &:hover {
    color: $text;
  }
}
code {
  font-family: 'Inconsolata', monospace;
  padding: 2px 4px;
  margin: 0 2px;
  border: 1px solid $inline-code-border;
  border-radius: 4px;
  background-color: $inline-code-background;
  color: $inline-code-text;
}
img {
  max-width: 100%;
}
