@import './color';

body {
  background-color: $background;
  font-family: 'Nunito Sans', 'M PLUS 1p', 'sans-serif';
  font-size: 18px;
  line-height: 1.85;
  color: $text;
}
section {
  max-width: 800px;
  margin: 0 auto;
}
.svg-icon {
  width: 18px;
  height: 18px;
  padding-right: 4px;
}
.subtitle {
  color: $subtitle;
}
.tag {
  color: $subtitle;
  padding-right: 15px;
  text-decoration: none;

  &:before {
    content: '#';
  }
  &:hover {
    text-decoration: underline;
  }
}
.link {
  height: 33px;
  font-size: 16px;
  text-decoration: underline;
  padding: 0 10px;
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;

  &:hover {
    background: silver;
  }
}
h1, h2 {
  margin: 48px 0 0 0;
  color: $title;
}
h3, h4, h5, h6 {
  margin: 24px 0 0 0;
  color: $title;
}
h1, h2, h3, h4, h5, h6 {
  &:hover > a[data-hash-link] {
    opacity: 1;
  }
}
a[data-hash-link] {
  display: inline-block;
  margin-left: -1em;
  padding-right: 0.3em;

  text-decoration: none;

  opacity: 0;

  &:hover {
    text-decoration: underline;
  }
}
hr {
  color: $horizontal-rule;
}
table {
  border-spacing: 0;
}
thead {
  background-color: $table-head;
}
td, th {
  padding: 12px;
}
tbody {
  td {
    position: relative;

    &:after {
      content: '';
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      border-bottom: 1px solid $table-body-line;
    }
  }
}
a {
  text-decoration: underline;
  color: $link-text;
  cursor: pointer;
}
